* {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow: hidden;
}

body {
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* Propriété standard */
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(180deg, #09303F 0%, #86A8E7 51.95%, #D0EDE7 100%);
}

.header {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  justify-content: center;
  margin-top: 40px;

  h1 {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    color: white;
    width: 260px;
    margin: 0;

    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 101px;
      border-radius: 7px;
      background-color: white;
      bottom: -8px;
    }
  }
}

.lines {
  img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
  }
}

.planets {

  &::selection {
    background-color: rgba(255, 255, 255, 0);
  }

  &:focus { outline: none; }


  .planet-1 {
    position: absolute;
    left: -12%;
    bottom: -20%;
    width: 28%;
    @media screen and (max-width: 1200px) {
      left: -10%;
      bottom: -15%;
      width: 30%;
    }
    @media screen and (max-width: 576px) {
      left: -8%;
      bottom: -10%;
    }
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  .container-planet {
    position: absolute;

    .planet::selection {
      background-color: rgba(0, 0, 255, 0) !important;
    }

    .planet {
      cursor: grab;

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        font-weight: bold;
        opacity: .5;
      }

      &:hover {
        &:after {
          font-size: 40px;
          opacity: 1;
        }
      }

      position: relative;
      display: flex;
      justify-content: center;

      .chevrons {
        position: absolute;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
        transition: all .2s ease-in;

        img {
          width: 25px;
        }
      }

      &.horizontal {
        .chevrons {
          transform: translate(-50%, -50%);
        }
      }
    }

    &.container-planet-2 {
      left: 10%;
      top: 38%;
      width: 15%;

      .planet {
        &:after {
          content: '1';
        }
      }
    }

    &.container-planet-3 {
      left: 24%;
      top: 26%;
      width: 6%;

      .planet {
        &:after {
          content: '2';
        }
      }

    }

    &.container-planet-4 {
      left: 30%;
      top: 57%;
      width: 8%;

      .planet {
        &:after {
          content: '3';
        }
      }
    }

    &.container-planet-5 {
      left: 40%;
      top: 21%;
      width: 14%;

      .planet {
        &:after {
          content: '4';
        }
      }
    }

    &.container-planet-6 {
      left: 50%;
      top: 57%;
      width: 18%;

      .planet {
        &:after {
          content: '5';
        }
      }
    }

    &.container-planet-7 {
      right: 21%;
      top: 17%;
      width: 9%;

      .planet {
        &:after {
          content: '6';
        }
      }
    }

    &.container-planet-8 {
      right: 13%;
      top: 45%;
      width: 12%;

      .planet {
        &:after {
          content: '7';
        }
      }
    }

    &.container-planet-9 {
      right: 10%;
      top: 21%;
      width: 5%;

      .planet {
        &:after {
          content: '8';
        }
      }
    }

    @media screen and (max-width: 1200px) {
      &.container-planet-2 {
        width: 14%;
      }

      &.container-planet-3 {
        width: 5%;
      }

      &.container-planet-4 {
        width: 7%;
      }

      &.container-planet-5 {
        width: 13%;
      }

      &.container-planet-6 {
        width: 17%;
      }

      &.container-planet-7 {
        width: 8%;
      }

      &.container-planet-8 {
        width: 11%;
      }

      &.container-planet-9 {
        width: 4%;
      }
    }
    @media screen and (max-width: 900px) {
      &.container-planet-2 {
        width: 17%;
      }

      &.container-planet-3 {
        width: 8%;
      }

      &.container-planet-4 {
        width: 10%;
      }

      &.container-planet-5 {
        width: 16%;
      }

      &.container-planet-6 {
        width: 20%;
      }

      &.container-planet-7 {
        width: 11%;
      }

      &.container-planet-8 {
        width: 14%;
      }

      &.container-planet-9 {
        width: 7%;
      }
    }
    @media screen and (max-width: 576px) {
      &.container-planet-2 {
        top: 50%;
      }

      &.container-planet-3 {
        top: 41%;
      }

      &.container-planet-4 {
        top: 60%;
      }

      &.container-planet-5 {
        top: 37%;
      }

      &.container-planet-6 {
        top: 60%;
      }

      &.container-planet-7 {
        top: 33%;
      }

      &.container-planet-8 {
        top: 53%;
      }

      &.container-planet-9 {
        top: 36%;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);

  .disable-btn {
    background-color: rgba(9, 48, 63, 0.5) !important;
  }

  #play-btn {
    background-color: #09303F;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 30px;
    padding: 25px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .2s ease-in;

    &:hover {
      opacity: .9;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    img {
      max-width: 100%;
    }
  }

  #undo-btn {
    background-color: #09303F;
    color: white;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 20px;
    border-radius: 23px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .2s ease-in;
    position: relative;
    display: inline-block;

    &:hover {
      opacity: .9;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      transition: opacity 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }

    .first-reload {
      visibility: visible;
    }

    img {
      max-width: 100%;
    }
  }

  .btn-next-level {
    background-color: #9C7A85;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 20px;
    border-radius: 23px;
    transition: all .2s ease-in;

    &:hover {
      opacity: .9;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.planet-move {
  animation-duration: 0.7s;
  animation-name: move;
}

@keyframes move {
  from {
    width: auto;
  }

  to {
      transform: scale(1.1);
    }
}

.planets {
  .planet-1 {
    position: absolute;
    left: -10%;
    bottom: -15%;
  }

  .planet-2 {
    position: absolute;
    display: flex;
    left: 15%;
    top: 35%;
  }

  .planet-3 {
    position: absolute;
    left: 28%;
    top: 28%;
  }

  .planet-4 {
    position: absolute;
    left: 30%;
    top: 50%;
  }

  .planet-5 {
    position: absolute;
    left: 40%;
    top: 15%;
  }

  .planet-6 {
    position: absolute;
    left: 50%;
    top: 40%;
  }

  .planet-7 {
    position: absolute;
    right: 27%;
    top: 14%;
  }

  .planet-8 {
    position: absolute;
    right: 15%;
    top: 48%;
  }

  .planet-9 {
    position: absolute;
    right: 15%;
    top: 18%;
  }

  @media screen and (max-width: 1200px) {
    .planet-1 {
      left: -8%;
      bottom: -10%;
    }
    .planet-2 {
      top: 40%;
    }
    .planet-3 {
      top: 32%;
    }
    .planet-4 {
      top: 53%;
    }
    .planet-5 {
      top: 20%;
    }
    .planet-6 {
      top: 50%;
    }
    .planet-7 {
      top: 22%;
    }
    .planet-8 {
      top: 55%;
    }
    .planet-9 {
      top: 28%;
    }
  }
}


canvas[resize] {
  width: 100%;
  height: 100%;
}
//@media screen and (max-height: 1000px) {
//  .planets {
//    .planet-1 {
//      left: -16%;
//      bottom: -42%;
//    }
//
//    .container-planet {
//      &.container-planet-2 {
//        width: 13%;
//      }
//
//      &.container-planet-3 {
//        width: 4%;
//      }
//
//      &.container-planet-4 {
//        width: 6%;
//      }
//
//      &.container-planet-5 {
//        top: 21%;
//        width: 12%;
//      }
//
//      &.container-planet-6 {
//        width: 13%;
//      }
//
//      &.container-planet-7 {
//        width: 6%;
//      }
//
//      &.container-planet-8 {
//        width: 10%;
//      }
//
//      &.container-planet-9 {
//        width: 5%;
//      }
//    }
//  }
//}
