* {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(180deg, #09303F 0%, #86A8E7 51.95%, #D0EDE7 100%); }

.header {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  .header h1 {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    color: white;
    width: 260px; }
    .header h1:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 101px;
      border-radius: 7px;
      background-color: white;
      bottom: -15px; }

.planets .planet-1 {
  position: absolute;
  left: -10%;
  bottom: -15%;
  width: 20%; }
.planets .container-planet {
  position: absolute; }
  .planets .container-planet .planet {
    position: relative;
    display: flex;
    justify-content: center; }
    .planets .container-planet .planet img {
      width: 100%; }
    .planets .container-planet .planet:hover .chevrons {
      display: block; }
    .planets .container-planet .planet .chevrons {
      position: absolute;
      width: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      display: none; }
      .planets .container-planet .planet .chevrons img {
        width: 25px; }
    .planets .container-planet .planet.horizontal .chevrons {
      transform: translate(-50%, -50%); }
  .planets .container-planet.container-planet-2 {
    left: 10%;
    top: 35%;
    width: 15%; }
  .planets .container-planet.container-planet-3 {
    left: 24%;
    top: 25%;
    width: 6%; }
  .planets .container-planet.container-planet-4 {
    left: 32%;
    top: 54%;
    width: 8%; }
  .planets .container-planet.container-planet-5 {
    left: 40%;
    top: 18%;
    width: 14%; }
  .planets .container-planet.container-planet-6 {
    left: 50%;
    top: 48%;
    width: 15%; }
  .planets .container-planet.container-planet-7 {
    right: 25%;
    top: 14%;
    width: 8%; }
  .planets .container-planet.container-planet-8 {
    right: 15%;
    top: 48%;
    width: 12%; }
  .planets .container-planet.container-planet-9 {
    right: 10%;
    top: 18%;
    width: 5%; }

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0); }
  .buttons .play-btn {
    background-color: #09303F;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 30px;
    padding: 25px;
    box-sizing: border-box; }
    .buttons .play-btn img {
      max-width: 100%; }
  .buttons .undo-btn {
    background-color: #09303F;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 10px;
    box-sizing: border-box; }
    .buttons .undo-btn img {
      max-width: 100%; }

@media screen and (max-height: 1000px) {
  .planets .planet-1 {
    left: -16%;
    bottom: -42%; }
  .planets .container-planet.container-planet-2 {
    width: 13%; }
  .planets .container-planet.container-planet-3 {
    width: 4%; }
  .planets .container-planet.container-planet-4 {
    width: 6%; }
  .planets .container-planet.container-planet-5 {
    top: 21%;
    width: 12%; }
  .planets .container-planet.container-planet-6 {
    width: 13%; }
  .planets .container-planet.container-planet-7 {
    width: 6%; }
  .planets .container-planet.container-planet-8 {
    width: 10%; }
  .planets .container-planet.container-planet-9 {
    width: 5%; } }

/*# sourceMappingURL=style.css.map */
