* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(180deg, #09303F 0%, #86A8E7 51.95%, #D0EDE7 100%);
}

.header {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  justify-content: center;
  margin-top: 20px;

  h1 {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    color: white;
    width: 260px;

    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 101px;
      border-radius: 7px;
      background-color: white;
      bottom: -15px;
    }
  }
}

.planets {
  .planet-1 {
    position: absolute;
    left: -12%;
    bottom: -20%;
    width: 28%;
    @media screen and (max-width: 1200px) {
      left: -10%;
      bottom: -15%;
      width: 30%;
    }
    @media screen and (max-width: 576px) {
      left: -8%;
      bottom: -10%;
    }
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  .container-planet {
    position: absolute;

    .planet {
      cursor: pointer;

      &:hover {
        .chevrons {
          opacity: 1;
        }
      }

      position: relative;
      display: flex;
      justify-content: center;

      .chevrons {
        position: absolute;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
        transition: all .2s ease-in;

        img {
          width: 25px;
        }
      }

      &.horizontal {
        .chevrons {
          transform: translate(-50%, -50%);
        }
      }
    }

    &.container-planet-2 {
      left: 10%;
      top: 38%;
      width: 15%;
    }

    &.container-planet-3 {
      left: 24%;
      top: 26%;
      width: 6%;
    }

    &.container-planet-4 {
      left: 30%;
      top: 57%;
      width: 8%;
    }

    &.container-planet-5 {
      left: 40%;
      top: 21%;
      width: 14%;
    }

    &.container-planet-6 {
      left: 50%;
      top: 57%;
      width: 18%;
    }

    &.container-planet-7 {
      right: 21%;
      top: 17%;
      width: 9%;
    }

    &.container-planet-8 {
      right: 13%;
      top: 45%;
      width: 12%;
    }

    &.container-planet-9 {
      right: 10%;
      top: 21%;
      width: 5%;
    }

    @media screen and (max-width: 1200px) {
      &.container-planet-2 {
        width: 14%;
      }

      &.container-planet-3 {
        width: 5%;
      }

      &.container-planet-4 {
        width: 7%;
      }

      &.container-planet-5 {
        width: 13%;
      }

      &.container-planet-6 {
        width: 17%;
      }

      &.container-planet-7 {
        width: 8%;
      }

      &.container-planet-8 {
        width: 11%;
      }

      &.container-planet-9 {
        width: 4%;
      }
    }
    @media screen and (max-width: 900px) {
      &.container-planet-2 {
        width: 17%;
      }

      &.container-planet-3 {
        width: 8%;
      }

      &.container-planet-4 {
        width: 10%;
      }

      &.container-planet-5 {
        width: 16%;
      }

      &.container-planet-6 {
        width: 20%;
      }

      &.container-planet-7 {
        width: 11%;
      }

      &.container-planet-8 {
        width: 14%;
      }

      &.container-planet-9 {
        width: 7%;
      }
    }
    @media screen and (max-width: 576px) {
      &.container-planet-2 {
        top: 50%;
      }

      &.container-planet-3 {
        top: 41%;
      }

      &.container-planet-4 {
        top: 60%;
      }

      &.container-planet-5 {
        top: 37%;
      }

      &.container-planet-6 {
        top: 60%;
      }

      &.container-planet-7 {
        top: 33%;
      }

      &.container-planet-8 {
        top: 53%;
      }

      &.container-planet-9 {
        top: 36%;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);

  .play-btn {
    background-color: #09303F;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 30px;
    padding: 25px;
    box-sizing: border-box;

    img {
      max-width: 100%;
    }
  }

  .undo-btn {
    background-color: #09303F;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 10px;
    box-sizing: border-box;

    img {
      max-width: 100%;
    }
  }
}

//@media screen and (max-height: 1000px) {
//  .planets {
//    .planet-1 {
//      left: -16%;
//      bottom: -42%;
//    }
//
//    .container-planet {
//      &.container-planet-2 {
//        width: 13%;
//      }
//
//      &.container-planet-3 {
//        width: 4%;
//      }
//
//      &.container-planet-4 {
//        width: 6%;
//      }
//
//      &.container-planet-5 {
//        top: 21%;
//        width: 12%;
//      }
//
//      &.container-planet-6 {
//        width: 13%;
//      }
//
//      &.container-planet-7 {
//        width: 6%;
//      }
//
//      &.container-planet-8 {
//        width: 10%;
//      }
//
//      &.container-planet-9 {
//        width: 5%;
//      }
//    }
//  }
//}
