* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(180deg, #09303F 0%, #86A8E7 51.95%, #D0EDE7 100%);
}

.header {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.header h1 {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: white;
  width: 260px;
}
.header h1:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 101px;
  border-radius: 7px;
  background-color: white;
  bottom: -15px;
}

.planets .planet-1 {
  position: absolute;
  left: -12%;
  bottom: -20%;
  width: 28%;
}
@media screen and (max-width: 1200px) {
  .planets .planet-1 {
    left: -10%;
    bottom: -15%;
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  .planets .planet-1 {
    left: -8%;
    bottom: -10%;
  }
}
.planets img {
  max-width: 100%;
  width: 100%;
}
.planets .container-planet {
  position: absolute;
}
.planets .container-planet .planet {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}
.planets .container-planet .planet:hover .chevrons {
  opacity: 1;
}
.planets .container-planet .planet .chevrons {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0;
  transition: all 0.2s ease-in;
}
.planets .container-planet .planet .chevrons img {
  width: 25px;
}
.planets .container-planet .planet.horizontal .chevrons {
  transform: translate(-50%, -50%);
}
.planets .container-planet.container-planet-2 {
  left: 10%;
  top: 38%;
  width: 15%;
}
.planets .container-planet.container-planet-3 {
  left: 24%;
  top: 26%;
  width: 6%;
}
.planets .container-planet.container-planet-4 {
  left: 30%;
  top: 57%;
  width: 8%;
}
.planets .container-planet.container-planet-5 {
  left: 40%;
  top: 21%;
  width: 14%;
}
.planets .container-planet.container-planet-6 {
  left: 50%;
  top: 57%;
  width: 18%;
}
.planets .container-planet.container-planet-7 {
  right: 21%;
  top: 17%;
  width: 9%;
}
.planets .container-planet.container-planet-8 {
  right: 13%;
  top: 45%;
  width: 12%;
}
.planets .container-planet.container-planet-9 {
  right: 10%;
  top: 21%;
  width: 5%;
}
@media screen and (max-width: 1200px) {
  .planets .container-planet.container-planet-2 {
    width: 14%;
  }
  .planets .container-planet.container-planet-3 {
    width: 5%;
  }
  .planets .container-planet.container-planet-4 {
    width: 7%;
  }
  .planets .container-planet.container-planet-5 {
    width: 13%;
  }
  .planets .container-planet.container-planet-6 {
    width: 17%;
  }
  .planets .container-planet.container-planet-7 {
    width: 8%;
  }
  .planets .container-planet.container-planet-8 {
    width: 11%;
  }
  .planets .container-planet.container-planet-9 {
    width: 4%;
  }
}
@media screen and (max-width: 900px) {
  .planets .container-planet.container-planet-2 {
    width: 17%;
  }
  .planets .container-planet.container-planet-3 {
    width: 8%;
  }
  .planets .container-planet.container-planet-4 {
    width: 10%;
  }
  .planets .container-planet.container-planet-5 {
    width: 16%;
  }
  .planets .container-planet.container-planet-6 {
    width: 20%;
  }
  .planets .container-planet.container-planet-7 {
    width: 11%;
  }
  .planets .container-planet.container-planet-8 {
    width: 14%;
  }
  .planets .container-planet.container-planet-9 {
    width: 7%;
  }
}
@media screen and (max-width: 576px) {
  .planets .container-planet.container-planet-2 {
    top: 50%;
  }
  .planets .container-planet.container-planet-3 {
    top: 41%;
  }
  .planets .container-planet.container-planet-4 {
    top: 60%;
  }
  .planets .container-planet.container-planet-5 {
    top: 37%;
  }
  .planets .container-planet.container-planet-6 {
    top: 60%;
  }
  .planets .container-planet.container-planet-7 {
    top: 33%;
  }
  .planets .container-planet.container-planet-8 {
    top: 53%;
  }
  .planets .container-planet.container-planet-9 {
    top: 36%;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
}
.buttons .play-btn {
  background-color: #09303F;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 30px;
  padding: 25px;
  box-sizing: border-box;
}
.buttons .play-btn img {
  max-width: 100%;
}
.buttons .undo-btn {
  background-color: #09303F;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.buttons .undo-btn img {
  max-width: 100%;
}